<!-- Start Page Title Area -->
<div class="page-title-area bg-20">
	<div class="container">
		<div class="page-title-content">
			<h2>Event details</h2>

			<ul>
				<li>
					<a href="index.html">
						Home
					</a>
				</li>

				<li class="active">Event details</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Event Details Area -->
<section class="event-details-area ptb-100" *ngIf="event">
	<div class="container">
		<div class="row">
			<!-- Nội dung chính -->
			<div class="col-lg-8">
				<div class="main-default-content mr-15">
					<span class="top-title">
						{{ event.eventtype === '1' ? 'Conference' : 'Event' }}
					</span>
					<h2>{{ event.en.title || event.en.name }}</h2>

					<ul class="date-time">
						<li>
							<i class="ri-calendar-2-line"></i>
							{{ event.begintime | date:'dd, MMM yyyy' }}
						</li>
						<li>
							<i class="ri-time-line"></i>
							{{ event.begintime | date:'EEEE h:mm a' }}
						</li>
						<li>
							<i class="ri-map-pin-2-line"></i>
							{{ event.en.address }}
						</li>
					</ul>

					<div class="gap-20"></div>

					<img [src]="event.image" alt="Image" class="img-fluid">

					<div class="gap-20"></div>

					<h3>{{event.en.summary}}</h3>
					<div [innerHTML]="event.en.content"></div>

					<div [innerHTML]="event.en.content2"></div>
				</div>
			</div>

			<!-- Sidebar -->
			<div class="col-lg-4">
				<div class="event-sidebar ml-15">
					<div class="event-single-sidebar">
						<h3>{{ event.en.title || event.en.name }}</h3>

						<ul>
							<li>
								Start
								<span>{{ event.begintime | date:'dd MMM yyyy' }}</span>
							</li>
							<li>
								End
								<span>{{ event.endtime | date:'dd MMM yyyy' }}</span>
							</li>
							<li>
								Event Category
								<span>{{ event.eventtype === '1' ? 'Conference' : 'Event' }}</span>
							</li>
							<li>
								Location
								<span>{{ event.en.address }}</span>
							</li>
							<li>
								Total slot
								<span>{{ event.maxregister }}</span>
							</li>
							<li>
								Booked Slot
								<span>{{ event.acceptregister }}</span>
							</li>
							<li >
								Website
								<a [routerLink]="['/event']" target="_blank">event</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Event Details Area -->