<!-- Start Page Title Area -->
<div class="page-title-area bg-5">
	<div class="container">
		<div class="page-title-content">
			<h2>Events</h2>

			<ul>
				<li>
					<a href="index.html">
						Home
					</a>
				</li>

				<li class="active">Events</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Events Area -->
<section class="events-area events-area-style-two ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="events-timer mr-15">
					<div class="event-img">
						<img src="/images/event-img.jpg" alt="Image">
					</div>

					<span>Next Event</span>

					<div id="timer">
						<div id="days"></div>
						<div id="hours"></div>
						<div id="minutes"></div>
						<div id="seconds"></div>
					</div>

					<a href="#" class="default-btn">
						Book now
						<i class="ri-arrow-right-line"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-7">
				<div class="events-content ml-15">
					<span>Events</span>

					<h2>Upcoming events</h2>

					<ul class="events-list">
						<li *ngFor="let eventItem of events">
							<div class="events-date" [routerLink]="['/event-detail', eventItem.slug]">
								<span class="mb-2">{{ eventItem.begintime | date:'dd MMM' }}</span>
								<span>{{ eventItem.begintime | date:'yyyy' }}</span>
							</div>

							<span>Conference</span>

							<h3>
								<a [routerLink]="['/event-detail', eventItem.slug]">
									{{ eventItem.en?.title || eventItem.en?.name }}
								</a>
							</h3>

							<a [routerLink]="['/event-detail', eventItem.slug]" class="read-more">
								{{eventItem.en.address}}
							</a>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Events Area -->